h1{
    color: red;
    background-color: aqua;
    background-color: aqua;
    background-color: aqua;
    background-color: aqua;
    background-color: aqua;
    background-color: aqua;
    background-color: rgb(255, 0, 0);
}
p{
    color: green;
    text-align: center;
    text-align: left;
}
h1{
    font-size: 20px;
}