h1{
    color: red;
    background-color: aqua;
    background-color: aqua;
    background-color: aqua;
    background-color: aqua;
    background-color: aqua;
    background-color: aqua;
}
p{
    color: green;
    text-align: center;
}